

<style>
    .loginPage{


        background-image: url("../../img/login02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /*background-attachment: fixed;*/
        padding-bottom: 300px;

    }

    .form-group{
        padding-left: 150px;
    }

    </style>





<div ng-controller="LoginController" class="row loginPage">
    <div class="login">
        <div class="col-xs-12 col-sm-6">

            <!--<img src="../../img/login.jpg"-->
            <!--style="width:700px;height:400px;">-->

        </div>

        <div class="col-xs-12 col-sm-5" style="padding-left: 40px">

            <!--Didn't know how to make form-control also in one line. Submit button also has some problem-->
            <form class="form-horizontal">
                <h1 style="color: white">Login</h1>
                <div ng-show="message" class="alert alert-danger" role="alert">{{message}} </div>
                <div class="form-group">
                    <label for="username" style="color: white">Username</label>
                    <input ng-model="user.username" id="username" type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password" style="color: white">Password</label>
                    <input ng-model="user.password" id="password" type="password" class="form-control" placeholder="password">
                </div>

                <div class="form-group">
                    <label class="control-label"></label>

                    <div>
                        <button ng-click="login(user)" type="submit" class="btn btn-default">Login</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>



