
<div class="favoriteAirlines">
    <style>
        .style03{
            font-family: "Times New Roman";
        }
        .favoriteAirlines{
            padding-top: 30px;

        }

        .favoriteList{
            padding-left: 30px;
        }

        .flightList{

        }

        hr.style02 {
            padding: 0;
            border: none;
            border-top: medium double #333;
            color: #333;
            text-align: center;
        }

        hr.style02:after {
            content: "§";
            display: inline-block;
            position: relative;
            top: -0.7em;
            font-size: 1.5em;
            padding: 0 0.25em;
            background: white;
        }
    </style>

    <div class="row" ng-controller="favoriteAirlinesController as model">


        <div class="col-md-4 favoriteList">
            <div ng-show="check">
            <p class="lead">Favorite Flights</p>
            <div class="list-group list-inline" ng-repeat="airline in airlines">
                <a href="#/api/project/airlines/{{airline.flightId}}/details"  ng-class="{'active': airline.flightId == routeFlightId}" class="list-group-item clearfix">
                    <span class="pull-right">
                        <button ng-click="cancelLikeFlight(airline.flightId)" type="button" class="btn btn-danger btn-md pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                    {{airline.airlineNumber}}
                    <br/>
                    {{airline.flightFrom + "->" + airline.flightTo}}
                    <br/>
                    {{"Departure Time: " + airline.departTime.substring(0,10) + " " + airline.departTime.substring(11,19)}}
                    <br>
                    {{"Arrival Time: "+ airline.arrivalTime.substring(0,10) + " "+ airline.arrivalTime.substring(11,19)}}
                </a>
            </div>
            </div>
            <div ng-show="checkHotels">
                <p class="lead">Favorite Hotels</p>
                <div class="list-group" ng-repeat="hotel in hotels">
                    <!--class using active-->
                    <a href="#/api/project/hotels/{{hotel.property_code}}/{{hotel.checkInDate}}/{{hotel.checkOutDate}}/details" ng-class="{'active': (hotel.property_code == hotelId)}" class="list-group-item clearfix">
                        <span class="pull-right">
                             <button ng-click="cancelLikeHotel(hotel.property_code,hotel.checkInDate,hotel.checkOutDate)" type="button" class="btn btn-danger btn-md pull-right">
                                 <span class="glyphicon glyphicon-remove"></span>
                             </button>
                        </span>
                        <!--{{hotelId + " " + checkInDate + " " + checkOutDate}}-->
                        <!--<br>-->
                        {{hotel.property_name}}
                        <br/>
                        {{hotel.checkInDate + " -> " + hotel.checkOutDate}}
                        <br/>
                        {{hotel.address}}
                        <br/>
                        {{hotel.price}}
                    </a>

                    <!--{{(hotel.property_code == hotelId)}}-->
                    <!--{{hotel.checkInDate ==checkInDate}}-->
                    <!--{{hotel.checkOutDate == checkOutDate}}-->
                </div>
            </div>
        </div>

        <div class="col-md-8" ng-show="(!flightDetails)&&(!hotelDetails)">
            <h1>Empty or choose one favorite! :)</h1>
        </div>


        <div class="col-md-8" ng-show="hotelDetails">
            <h2 class="style03"><i>{{hotelDetails.data.property_name}}</i></h2>
            <hr class="style02"/>
            <h4>{{"Hotel Address: " + hotelDetails.data.address.line1
            + ", "+ hotelDetails.data.address.city + ", " + hotelDetails.data.address.region
            + ", "+ hotelDetails.data.address.postal_code}} </h4>
            <h4>{{"Check In Date: " + checkInDate}}</h4>
            <h4>{{"Check Out Date: "+ checkOutDate}}</h4>
            <h4>{{"Total Price: " + hotelDetails.data.total_price.amount + hotelDetails.data.total_price.currency}}</h4>


            <div>
            <h3 ng-show="cheapestRoom.room_type_info.bed_type">Room Info</h3>
            <h4 ng-show="cheapestRoom.room_type_info.bed_type">{{"Bed Type: "+ cheapestRoom.room_type_info.bed_type}}</h4>
            <h4 ng-show="cheapestRoom.room_type_info.number_of_beds">{{"Number Of Beds: " + cheapestRoom.room_type_info.number_of_beds}}</h4>
            <h4 ng-show="cheapestRoom.room_type_info.room_type">{{"Room Type: " + cheapestRoom.room_type_info.room_type}}</h4>
            </div>
            <h3>Amenities</h3>
            <div ng-repeat="amenity in amenities">
                <h5>
                    {{"-" + amenity.description}}
                </h5>
            </div>
            <h4>Descriptions</h4>
            <div ng-repeat="description in desciptionsArray">
                <h5>{{"-"+ description}}</h5>
            </div>


            <!--{{hotelDetails}}-->
            <div>
                <h2><u>How to go to airport from this hotel.</u></h2>
                <div id="hotelLocationInfo" style="height:400px; margin-left:1px;  border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-top: 1px solid #AAAAAA; border-left: 1px solid #AAAAAA;">

                </div>

            </div>
        </div>

        <div class="col-md-8" ng-show="flightDetails">
            <h2>{{"Flight : "+ flightDetails.flightStatus.carrierFsCode + flightDetails.flightStatus.flightNumber}}</h2>
            <h4>{{"Departure Airport: " + departureAirportInfo.name}}</h4>
            <p>{{"Departure Time: " + flightDetails.flightStatus.departureDate.dateLocal.substring(0,10) +
                " " + flightDetails.flightStatus.departureDate.dateLocal.substring(11,19)}}</p>
            <p>{{"Departure Terminal: " + flightDetails.flightStatus.airportResources.departureTerminal}}</p>
            <p ng-if="flightDetails.flightStatus.airportResources.departureGate">{{"Departure Gate: " + flightDetails.flightStatus.airportResources.departureGate}}</p>
            <p ng-if="!flightDetails.flightStatus.airportResources.departureGate">Departure Gate Not Given By Now</p>

            <p>{{"Location: " + departureAirportInfo.street1 + " ," + departureAirportInfo.cityCode + " ," + departureAirportInfo.stateCode + " ," + departureAirportInfo.postalCode}}</p>
            <h4>{{"Arrival Airport: " + arrivalAirportInfo.name}}</h4>
            <p>{{"Arrival Time: " + flightDetails.flightStatus.arrivalDate.dateLocal.substring(0,10) +
                " " + flightDetails.flightStatus.arrivalDate.dateLocal.substring(11,19)}}</p>
            <p>{{"Arrival Terminal: " + flightDetails.flightStatus.airportResources.arrivalTerminal}}</p>
            <p ng-if="flightDetails.flightStatus.airportResources.arrivalGate">{{"Arrival Gate: " + flightDetails.flightStatus.airportResources.arrivalGate}}</p>
            <p ng-if="!flightDetails.flightStatus.airportResources.arrivalGate">Arrival Gate Not Given By Now</p>

            <p>{{"Location :" + arrivalAirportInfo.street1 + " ," + arrivalAirportInfo.cityCode + " ," + arrivalAirportInfo.stateCode + " ," + arrivalAirportInfo.postalCode}}</p>
            <h4>{{"Carrier Name: " + carrierInfo.name}}</h4>
            <p ng-if="carrierInfo.phoneNumber">{{"Contact Phone Number: " + carrierInfo.phoneNumber}}</p>
            <h4>{{"Duration: "+ flightDetails.flightStatus.flightDurations.scheduledBlockMinutes + " mins"}}</h4>

            <h4>{{"Equipment: "+ flightDetails.appendix.equipments[0].name}}</h4>
            <h4>{{"wideBody: "+ flightDetails.appendix.equipments[0].widebody}}</h4>


            <hr class="style02">
            <h3>{{"Airlines Code Shares: "+ codeShares}}</h3>



            <div>
                <h2><u>{{departureAirportInfo.name}}</u></h2>
            <div id="map_canvas" style="height:400px; margin-left: 1px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-top: 1px solid #AAAAAA; border-left: 1px solid #AAAAAA;">

            </div>
            </div>

            <div>
                <h2><u>{{arrivalAirportInfo.name}}</u></h2>
            <div id="map_canvas02" style="height:400px; margin-left:1px;  border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-top: 1px solid #AAAAAA; border-left: 1px solid #AAAAAA;">

            </div>

            </div>

        </div>


        <!--<div ng-include="'../favoriteAirlinesDetails/favoriteAirlinesDetails.view.html'" class="col-md-8">-->



        <!--</div>-->
    </div>

</div>
