
<style>
    .main{
        background-image: url("../../img/profile01.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding-bottom: 100px;
    }

    .backgroundContainer{
        background-color: rgba(0, 0, 0, 0.4);
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 30px;
    }

</style>

<!--<div ng-controller="ProfileController" class="row main">-->

    <!--<div>-->
        <!--<div class="col-xs-12 col-sm-5" style="padding-left: 40px">-->

            <!--&lt;!&ndash;Didn't know how to make form-control also in one line. Submit button also has some problem&ndash;&gt;-->
            <!--<form class="form-horizontal">-->
                <!--<h1 style="color: white">My Profile</h1>-->
                <!--<div ng-show="message" class="alert alert-success" role="alert">{{message}} </div>-->
                <!--<div class="form-group">-->
                    <!--<label for="username" style="color: white">Username</label>-->
                    <!--<input ng-model="username" id="username" type="text" class="form-control" placeholder="username">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="password" style="color: white">Password</label>-->
                    <!--<input ng-model="password" id="password" type="password" class="form-control" placeholder="password">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="firstName" style="color: white">FirstName</label>-->
                    <!--<input ng-model="firstName" id="firstName" type="text" class="form-control" placeholder="firstName">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="lastName" style="color: white">LastName</label>-->
                    <!--<input ng-model="lastName" id="lastName" type="text" class="form-control" placeholder="lastName">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label for="email" style="color: white">Email</label>-->
                    <!--<input ng-model="emails" id="email" type="email" class="form-control" placeholder="email">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="control-label"></label>-->

                    <!--<div>-->
                        <!--<button ng-click="update()" type="submit" class="btn btn-default">Update</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->
<div class="main">
<div class="container">
    <div class="backgroundContainer">
    <h1 style="color: lightyellow" class="page-header">Edit Profile</h1>
    <div class="row">
        <!--&lt;!&ndash; left column &ndash;&gt;-->
        <!--<div class="col-md-4 col-sm-6 col-xs-12">-->
            <!--<div class="text-center">-->
                <!--<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">-->
                <!--<h6>Upload a different photo...</h6>-->
                <!--<input type="file" class="text-center center-block well well-sm">-->
            <!--</div>-->
        <!--</div>-->
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <div ng-show="message" class="alert alert-warning">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                {{message}}
            </div>
            <h3 style="color: lightyellow">Personal info</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label style="color: white" for="firstName" class="col-lg-3 control-label">First name:</label>
                    <div class="col-lg-8">
                        <input id="firstName" class="form-control" ng-model="firstName" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white" for="lastName" class="col-lg-3 control-label">Last name:</label>
                    <div class="col-lg-8">
                        <input id="lastName" ng-model="lastName" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white" class="col-lg-3 control-label">Company:</label>
                    <div class="col-lg-8">
                        <input ng-model="company" class="form-control" value="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white" for="email" class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="emails" id="email" type="text">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="col-lg-3 control-label">Time Zone:</label>-->
                    <!--<div class="col-lg-8">-->
                        <!--<div class="ui-select">-->
                            <!--<select id="user_time_zone" class="form-control">-->
                                <!--<option value="Hawaii">(GMT-10:00) Hawaii</option>-->
                                <!--<option value="Alaska">(GMT-09:00) Alaska</option>-->
                                <!--<option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>-->
                                <!--<option value="Arizona">(GMT-07:00) Arizona</option>-->
                                <!--<option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>-->
                                <!--<option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>-->
                                <!--<option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>-->
                                <!--<option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label style="color: white" for="username" class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        <input ng-model="username" id="username" id="username" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white" for="password" class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input ng-model="password" id="password" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: white"  for="verifiedPassword" class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input id="verifiedPassword" ng-model="verifiedPassword" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-warning" ng-click="update()" value="Save Changes" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</div>