
<style>
    .main{
        background-image: url("../../img/profile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        padding-bottom: 100px;
    }

</style>

<div ng-controller="ProfileController" class="row main">

    <div>
        <div class="col-xs-12 col-sm-5" style="padding-left: 40px">

            <!--Didn't know how to make form-control also in one line. Submit button also has some problem-->
            <form class="form-horizontal">
                <h1 style="color: white">My Profile</h1>
                <div class="form-group">
                    <label for="username" style="color: white">Username</label>
                    <input ng-model="username" id="username" type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password" style="color: white">Password</label>
                    <input ng-model="password" id="password" type="password" class="form-control" placeholder="password">
                </div>

                <div class="form-group">
                    <label for="firstName" style="color: white">FirstName</label>
                    <input ng-model="firstName" id="firstName" type="text" class="form-control" placeholder="firstName">
                </div>

                <div class="form-group">
                    <label for="lastName" style="color: white">FirstName</label>
                    <input ng-model="lastName" id="lastName" type="text" class="form-control" placeholder="lastName">
                </div>

                <div class="form-group">
                    <label for="email" style="color: white">Email</label>
                    <input ng-model="email" id="email" type="email" class="form-control" placeholder="email">
                </div>

                <div class="form-group">
                    <label class="control-label"></label>

                    <div>
                        <button ng-click="update()" type="submit" class="btn btn-default">Update</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
